body{background-color: white;
    margin: auto;
    height: 100vh;
    max-width: 1080px;}
.wrapper{
    box-sizing: border-box;
    border: 10px solid white;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
#first{
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}
.bluex{
    background-color: blue;
    width: 100%;
    height: 30%;
}
#second{
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
}
#third{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.lightbluex{
    background-color: cyan;
    width: 50%;
    height: 40%;

}
.pinkx{
    background-color: hotpink;
    width: 50%;
    height: 40%;

}
.greenx{
    background-color: green;
    width: 100%;
    height: 60%;

}
.orangex{
    background-color: orange;
    width: 50%;
    height: 100%;

}
.grayx{
    background-color: gray;
    width: 20%;
    height: 80%;

}
.brownx{
    background-color: saddlebrown;
    width: 100%;
    height: 20%;
}
@media all and (max-width: 500px){
    body{
        height: 20vh;
    }
}

@media all and (min-width: 500px){
    body{
        height: 25vh;
    }
}@media all and (min-width: 750px){
    body{
        height: 50vh;
    }
}@media all and (min-width: 950px){
    body{
        height: 75vh;
    }
}@media all and (min-width: 1200px){
    body{
        height: 100vh;
    }
}